.about{
    padding: 130px 0px 20px 0px;
    width: 100%;
    background: url('../images/about-bg.png');
    background-position: center;
    background-size: cover;
    /* padding: 100px 0px 20px 0px ; */
}
.about-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.about-image-container{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image-container img{
    margin: auto;
    width: 65%;
    border-radius: 50%;
    border: 10px solid #2ad883;
}
.about-text-container{
    flex-basis: 65%;
}
.title{
    font-size: 28px;
    color: #fff;
    color: #2ad883;
}
.about-text-container p{
    margin: 18px 0px;
    color: #cbcbcb;
}
.info-btn{
    margin-right: 12px;
    border-radius: 8px;
    font-size: 13px;
}
.contact-btn{
    /* border-radius: 8px; */
}
.button-container{
    margin-top: 24px;
}
/* Small devices such as large phones (640px and up) */
@media (min-width: 244px) and (max-width:767px){
    .about-container{
        flex-direction: column;
        gap: 40px;
    }
    .title{
        font-size: 18px;
    }
    .about-text-container p{
        font-size: 12px;
    }
    .info-btn{
        font-size: 12px;
        padding:8px;
    }
    .about-image-container img{
        margin: auto;
        width: 50%;
        border-radius: 50%;
        border: 6px solid #2ad883;
    }
}

/* Medium devices such as tablets (768px and up) */
@media (min-width: 768px) and (max-width:1023px){
    .about-container{
        flex-direction: column;
        gap: 40px;
    }
    .title{
        font-size: 22px;
    }
    .about-text-container p{
        font-size: 14px;
    }
    .info-btn{
        font-size: 13px;
        padding:8px;
    }
    .about-image-container img{
        margin: auto;
        width: 40%;
        border-radius: 50%;
        border: 6px solid #2ad883;
    }
}

/* Large devices such as laptops (1024px and up) */
@media (min-width: 1024px) and (max-width:1279px){
  
}

/* Largest devices such as desktops (1280px and up) */
@media (min-width: 1280px) and (max-width:1444px){}